body {
	background-color: blanchedalmond;
}
img {
	border-style: solid;
	border-color:black;
}
.container{
	text-align:center;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
h3 {text-align:center;
}
